
<style type="text/css">

    .editEvents{
        margin-top: 10%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .editAppP{
        font-size: 1em;
    }
    /* unvisited link */
    a.class3:link {
        color: #000;
    }

    /* visited link */
    a.class3:visited {
        color: #000;
    }

    /* mouse over link */
    a.class3:hover {
        color: #000;
    }

    /* selected link */
    a.class3:active {
        color: #000;
    }

    table td, table tr, table th {
        background: transparent !important;
    }

    table.tbody {
        background: transparent !important;
    }

    table, table tr, table th, table td {
        background: transparent !important;
    }
</style>

<div class="editEvents">

    <div class="row">
        <div class="col-sm-12">
            <p class="editAppP"><a class="class3" href="#/contacts">Contacts</a></p>
            <p class="editAppP"><a class="class3" href="/#juniorClassEvents">Junior Class Events</a></p>
            <p class="editAppP"><a class="class3" href="#/juniorNotification">Junior Class Notifications</a></p>
            <p class="editAppP"><a class="class3" href="#/allPreviousEvents">Previous Activities</a></p>
            <p class="editAppP"><a class="class3" href="#/schoolEvents">School Activities</a></p>
            <p class="editAppP"><a class="class3" href="#/schoolCalendar">School Calendar</a></p>
            <p class="editAppP"><a class="class3" href="#/schoolNotification">School Notifications</a></p>
            <p class="editAppP"><a class="class3" href="#/seniorClassEvents">Senior Class Activities</a></p>
            <p class="editAppP"><a class="class3" href="#/seniorNotification">Senior Class Notifications</a></p>


        </div>
    </div>
</div>
<div class="myMargin borderTop">
    <div class="row">
        <div class=" col-lg-12">
            <br>
        </div>
    </div>
</div>
<div class="footer2">
    <div>
        <a href="#/index" data-toggle="tooltip"
        title="Back">
        <button type="button" class="btn btn-default" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
        </button>
        </a>
    </div>
</div>
</div>
