<link href="/resources/static/css/index/index.css" rel="stylesheet">
<style type="text/css">
    /* unvisited link */
    a:link {
        color: #000;
    }

    /* visited link */
    a:visited {
        color: #000;
    }

    /* mouse over link */
    a:hover {
        color: #353c48;
    }

    /* selected link */
    a:active {
        color: #000;
    }

    /*ul*/
    /*{*/
    /*list-style-type: none;*/
    /*}*/

    [ng-cloak] {
        display: none !important;
    }

</style>
<div class="container">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9 column pull-right">
            <div class="myHeaderIndex">
                <div class="jumbotron"><h3 class="headerH">Welcome to Flemby National Schools Website</h3></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9 column pull-right">
            <div class="myContainerIndex" ng-cloak>
                <div class="wrap-div-topSpacer"></div>
                <div class="wrap-div">
                    <div class="imgWrapper">
                        <div id="sliderIndex">
                            <ul class="slides">

                                <li class="slide">
                                    <img class="img-responsive" width="240px" height="198px"
                                         check-image ng-src="/items/four/image.html?id={{index.id}}"
                                         onerror="this.src='/resources/static/images/activeSchool.png'"
                                            />

                                </li>
                                <li class="slide">
                                    <img class="img-responsive" width="240px" height="198px"
                                         check-image ng-src="/items/five/image.html?id={{index.id}}"
                                         onerror="this.src='/resources/static/images/outsideNew.png'"
                                         alt=""/>
                                </li>

                                <li class="slide">
                                    <img class="img-responsive" width="240px" height="198px"
                                         check-image ng-src="/items/six/image.html?id={{index.id}}"
                                         onerror="this.src='/resources/static/images/fnsNewsletter.png'"/>
                                </li>

                                <li class="slide">
                                    <img class="img-responsive" width="240px" height="198px"
                                         check-image ng-src="/items/four/image.html?id={{index.id}}"
                                         onerror="this.src='/resources/static/images/activeSchool.png'"
                                         alt="">
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>


                <div>
                    <p class="p2" ng-cloak>{{index.text}}</p>
                </div>


            </div>

            <div class="footer myMargin borderTopIndex">
                <div class="">
                    <br><br>
                    <input ng-show="isLoggedIn()" type="button" class="btn btn-sm myBtn btn-primary txtRight"
                           data-toggle="modal" data-target="#editIndex" value="Edit">
                </div>
            </div>
        </div>

        <div id="folio" class="mySideBarIndex col-xs-hidden col-sm-4 col-md-2 col-lg-2 pull-left">
            <ul class="pSideBarIndex">
                <li><a class="class2" href="#/contactUs"
                       title="View contact number or send Flemby National School a message">
                    Contact Us</a></li>
                <li class="    ${current == 'location' ? 'active' : ''} ">
                    <a class="class2" href="#/location"
                       title="Map to Flemby National School">
                        Location
                    </a>
                </li>
                <li><a href="#/calendar"
                       class="class2" title="Monthly view of school days">School Calendar</a></li>
                <li><a href="#/notification"
                       class="class2" title="View all recent school announcements">Notifications</a></li>
                <!--<li ng-show="!authenticated"><a-->
                <!--class="class2" href="#/login">Admin</a></li>-->

                <li ng-show="authenticated" class="${current == 'editApp' ? 'active' : ''} ">
                    <a class="class2" href="#/editApp">
                        Edit App
                    </a>
                </li>
                <li ng-show="isLoggedIn()"><a href="#/editApp">Edit App</a></li>
                <li ng-hide="isLoggedIn()"><a href="#/login">login</a></li>
                <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">logout</a></li>

            </ul>

        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="editIndex" aria-hidden="true" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Update Home Page</h4>
            </div>
            <div class="modal-body">

                <form ng-submit="submit()" class="form-horizontal" ng-controller="UpdateHome"
                      enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="indexText" class="col-sm-2 control-label">Page Text</label>

                        <div class="col-sm-10">
							<textarea class="form-control" rows="12" name="indexText" id="indexText"
                                      ng-model="index.text"></textarea>
                        </div>
                        <br> <br>
                    </div>
                    <div class="form-group">

                        <label for="file"
                               class="col-sm-2 control-label">Image 1</label>

                        <div class="col-sm-10">

                            <br>
                            <input type="file" file-model="myFile" id="file" required/>


                        </div>

                    </div>

                    <div class="form-group">

                        <label for="itemFile1"
                               class="col-sm-2 control-label">Image 2</label>

                        <div class="col-sm-10">

                            <input type="file" file-model="myFile2" id="itemFile1" required/>

                        </div>

                    </div>

                    <div class="form-group">

                        <label for="itemFile2"
                               class="col-sm-2 control-label">Image 3</label>

                        <div class="col-sm-10">

                            <input type="file" id="itemFile2" file-model="myFile3"/>
                        </div>
                    </div>

                    <br>
                    <button type="button" class="btn btn-default btn-sm myBtn" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary btn-sm myBtn" value="Save"/>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
