<style>

    .left {
        text-align: left;
    }

    .jumbotron {
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0%;
        background-color: transparent;
        width: 100%;
        text-align: center;
        height: 60px;
        overflow: hidden;
        /*border: dashed;*/
    }

    @media screen and (max-width: 768px) {
        .jumbotron {
            margin-top: 1%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0%;
            margin-top: 5%;
            background-color: transparent;
            width: 100%;
            text-align: center;
            height: 100px;
            overflow: hidden;
            /*border: dashed;*/
        }

    }

    @media screen and (max-width: 700px) {
        .jumbotron {
            margin-top: 1%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0%;
            margin-top: 5%;
            background-color: transparent;
            width: 100%;
            text-align: center;
            height: 130px;
            overflow: hidden;
            /*border: dashed;*/
        }

    }

    @media screen and (max-width: 401px) {
        .jumbotron {
            margin-top: 1%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0%;
            margin-top: 5%;
            background-color: transparent;
            width: 100%;
            text-align: center;
            height: 150px;
            overflow: hidden;
            /*border: dashed;*/
        }

    }

    @media screen and (max-width: 360px) {
        .jumbotron {
            margin-top: 1%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0%;
            margin-top: 5%;
            background-color: transparent;
            width: 100%;
            text-align: center;
            height: 180px;
            overflow: hidden;
            /*border: dashed;*/
        }

    }
</style>
<div class="location" style="margin-bottom: 200px">
    <h2 style="margin-top: 70px">Map to Flemby National School</h2>

    <div class="row">
        <div class=" col-lg-12 col-md-12 col-sm-12">
            <br><br>

            <div class="floating-boxLocation">
                <div class="mapContainer " id="map_canvas"></div>
                <p class="locationP">Flemby, Ballymacelligott, Tralee, Co. Kerry</p>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class=" col-lg-12 col-md-12 col-sm-12 left">-->
    <!--<br><br>-->

    <!--<a href="#/index" data-toggle="tooltip" title="Back">-->
    <!--<button type="button" class="btn btn-sm btn-default myBtn" aria-label="Left Align">-->

    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="myMarginContact">-->
    <!--<div>-->
    <!--<br><br>-->
    <!--<a href="#/index" data-toggle="tooltip" title="Back">-->
    <!--<button type="button" class="btn btn-sm btn-default myBtn" aria-label="Left Align">-->

    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
</div>

<div class="footerEvents">
    <div>
        <a href="#/index" data-toggle="tooltip"
           title="Back">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
            </button>
        </a>
    </div>
</div>