<link rel="stylesheet" type="text/css"
      href="/resources/static/css/events/events.css">
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>-->

<div class="eventsContainer">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h3 class="paddingEvents">Junior Class Notifications</h3>


            <table id="table"
                   class="tbody display table table-hover pTableWidth pTable">

                <thead>
                <tr>
                    <td><b>Event</b></td>
                    <td><b>Date</b></td>
                    <td ng-hide="isLoggedIn()" width="100%"></td>
                    <td ng-show="isLoggedIn()" width="100%"><b>Edit/Delete</b></td>

                </tr>
                </thead>
                <tbody>
                <div>
                    <tr ng-repeat="notification in notify">
                        <td>
                            <a class="class3"
                               href="#/notificationURL/{{notification.id}}">{{notification.name}}</a>
                        </td>
                        <td>
                            {{notification.publishedDate | date:'dd/MM/yyyy'}}

                        </td>
                        <td ng-hide="isLoggedIn()">{{ notification.text | limitTo: 12 }}...</td>
                        <td ng-show="isLoggedIn()">
                            <a class="class3"
                               href="#/notificationURL/{{notification.id}}">Edit /
                                Delete</a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
    <div class="myMargin borderTop">
        <div class="row" ng-show="isLoggedIn()">
            <div class="col-lg-12">
                <a href="#/editApp" class="txtRight" data-toggle="tooltip"
                   title="Back to Edit App page">
                    <button type="button" class="btn btn-default btn-sm">Edit App</button>
                </a>
                <button type="button" class="btn btn-primary btn-sm txtRight"
                        title="Add new junior class notification"
                        data-toggle="modal" data-target="#myModal">New Notice
                </button>
            </div>
        </div>
    </div>
</div>
<div class="notificationFooter2">
    <div>
        <a href="#/notification" data-toggle="tooltip"
           title="Back">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
            </button>
        </a>
    </div>
</div>

<!-- <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2"><b>Junior Class Notification</b></h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" ng-submit="submit()" id="NotificationValidate" ng-controller="NewJuniorNotificationPost">

                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>

                        <div class="col-sm-10">
                            <input type="text" id="title" ng-model="notificationName" class="form-control"
                                   name="title"
                                   placeholder="Notification Title" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="link" class="col-sm-2 control-label">Link</label>

                        <div class="col-sm-10">
                            <input type="text" id="link" ng-model="notificationLink" class="form-control"
                                   name="link"
                                   placeholder="URL to more information">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="text" class="col-sm-2 control-label">Text</label>

                        <div class="col-sm-10">
                                <textarea id="text" class="form-control" rows="3" name="text"
                                          ng-model="notificationText"
                                          placeholder="Notification Details"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="publishedDate" class="col-sm-2 control-label">Date</label>

                        <div class="col-sm-10 hero-unit">
                            <input type="date" id="publishedDate" name="publishedDate"
                                   ng-model="notificationPublishedDate"
                                   placeholder="dd/MM/yyyy" required/>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default btn-sm myBtn" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary btn-sm myBtn" value="Save">

                </form>

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

