<link rel="stylesheet" href="/resources/static/css/events/previousEvents.css"/>


<br><br><br>

<!--<div class="eventsMainContainer">-->
<div class='floating-boxPreviousEvents'>
    <div class="floating-boxPreviousEvents2">
        <div class="row">
            <div class="col-lg-12 col-sm-12 eventsH">
                <h2 class="myH2">{{notification.type}}<br>{{notification.name}}</h2>

                <h3 class="myH3">
                    {{notification.publishedDate | date:'dd/MM/yyyy'}}

                </h3>

                <h3 class="myH3">
                    <a href="{{notification.link}}" class="class3" target="_blank">More Info</a>

                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12 ">
                <p class="p3">{{notification.text}}</p>

                <br>
            </div>
        </div>

        <!--<div class="myMargin2"></div>-->

        <div class="myMargin borderTop">
            <div class="row">
                <div class=" col-lg-12">
                    <!--<br><br><br><br><br><br>-->
                </div>
            </div>
        </div>

        <div class="footerEvents">
            <a ng-if="notification.type == 'School Notification'" href="#/schoolNotification" data-toggle="tooltip"
               title="Back">

                <button type="button" class="btn btn-default txtLeft" aria-label="Left Align">

                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
                </button>
            </a>
            <a ng-if="notification.type == 'Senior Class Notification'" href="#/seniorNotification" data-toggle="tooltip"
               title="Back">

                <button type="button" class="btn btn-default txtLeft" aria-label="Left Align">

                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
                </button>
            </a>

            <a ng-if="notification.type == 'Junior Class Notification'" href="#/juniorNotification" data-toggle="tooltip"
               title="Back">

                <button type="button" class="btn btn-default txtLeft" aria-label="Left Align">

                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
                </button>
            </a>

            <div ng-show="isLoggedIn()">
                <input type="button" class="btn btn-sm myBtn btn-danger txtRight"
                       data-toggle="modal" data-target="#modalRemove" value="Delete">

                <input type="button" class="btn btn-sm myBtn btn-success txtRight"
                       data-toggle="modal" data-target="#modalEmail" value="Email">


                <input type="button" class="btn btn-sm myBtn btn-primary txtRight"
                       data-toggle="modal" data-target="#editEvent" value="Edit">
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalRemove" aria-hidden="true"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Delete - {{notification.type}} - {{notification.name}}</h4>
            </div>
            <div class="modal-body">Are you sure you want to delete - {{notification.type}} - {{notification.name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm " data-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-danger btn-sm removeBtn myBtn">Delete</a>
            </div>
        </div>
    </div>
</div>

<!--Modal -->
<div class="modal fade" id="modalEmail" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>Email {{notification.type}} {{notification.name}} to parents</b></h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" ng-submit="submit()" ng-controller="NotificationEmail">

                    <input type="hidden" name="text" value="notification.text">

                    <input type="hidden" name="type" value="notification.type">

                    <input type="hidden" name="name" value="notification.name">

                    <input type="hidden" name="link" value="notification.link">

                    <input type="hidden" name="publishedDate" value="notification.publishedDate">

                    <button type="button" class="btn btn-default btn-sm myBtn" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success btn-sm myBtn" value="Email">

                </form>

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!--Modal -->
<div class="modal fade" id="editEvent" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2"><b>Edit Event</b></h4>
            </div>
            <div class="modal-body">

                <form ng-submit="submit()" class="form-horizontal" ng-controller="UpdateNotificationEvent">


                    <input type="hidden" name="notificationId" ng-model="notification.id">

                    <input type="hidden" ng-model="notification.type" name="notificationType">

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Title</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="notificationName"
                                   id="name" ng-model="notification.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="link" class="col-sm-2 control-label">Link</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="notificationLink"
                                   id="link" ng-model="notification.link">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="notificationText" class="col-sm-2 control-label">Text</label>

                        <div class="col-sm-10">
                                <textarea rows="6" class="form-control" rows="3" name="notificationText"
                                          id="notificationText" ng-model="notification.text">
                                </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="publishedDate" class="col-sm-2 control-label">Date</label>

                        <div class="col-sm-10 hero-unit">
                            <input type="date" id="publishedDate"
                                   name="datepicker" ng-model="notification.publishedDate" dateFix
                                   required/>
                        </div>
                    </div>


                    <button type="button" class="btn btn-default btn-sm myBtn" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary btn-sm myBtn" value="Save">

                </form>

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
<!--<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>-->
<!--<script type="text/javascript">-->

<!--var today = new Date();-->
<!--var dd = today.getDate();-->
<!--var mm = today.getMonth() + 1;-->
<!--var yyyy = today.getFullYear();-->

<!--if (dd < 10) {-->
<!--dd = '0' + dd-->
<!--}-->

<!--if (mm < 10) {-->
<!--mm = '0' + mm-->
<!--}-->

<!--today = dd + '/' + mm + '/' + yyyy;-->

<!--$("#datepicker").datepicker({-->
<!--minDate: today,-->
<!--startDate: today,-->
<!--dateFormat: 'dd/mm/yy'-->
<!--});-->

<!--</script>-->

<!--<script>-->
<!--function downloadJSAtOnload() {-->

<!--var element = document.createElement("script");-->
<!--element.src = "<c:url value="//code.jquery.com/ui/1.11.3/jquery-ui.js" />";-->
<!--document.body.appendChild(element);-->
<!--}-->
<!--// Check for browser support of event handling capability-->
<!--if (window.addEventListener)-->
<!--window.addEventListener("load", downloadJSAtOnload, false);-->
<!--else if (window.attachEvent)-->
<!--window.attachEvent("onload", downloadJSAtOnload);-->
<!--else window.onload = downloadJSAtOnload;-->
<!--</script>-->


<!--<script type="text/javascript">-->
<!--function downloadJSAtOnload() {-->

<!--var element = document.createElement("script");-->
<!--element.src = "<c:url value="/resources/js/events/upcomingEventsURL.js" />";-->
<!--document.body.appendChild(element);-->
<!--}-->
<!--// Check for browser support of event handling capability-->
<!--if (window.addEventListener)-->
<!--window.addEventListener("load", downloadJSAtOnload, false);-->
<!--else if (window.attachEvent)-->
<!--window.attachEvent("onload", downloadJSAtOnload);-->
<!--else window.onload = downloadJSAtOnload;-->

<!--$(".triggerRemove").click(function (e) {-->
<!--e.preventDefault();-->
<!--$("#modalRemove .removeBtn").attr("href", $(this).attr("id"));-->
<!--$("#modalRemove").modal();-->
<!--});-->

<!--$(".triggerEmail").click(function (e) {-->
<!--e.preventDefault();-->
<!--$("#modalEmail .emailBtn").attr("href", $(this).attr("id"));-->
<!--$("#modalEmail").modal();-->
<!--});-->
<!--</script>-->