<link rel="stylesheet" type="text/css"
      href="/resources/static/css/events/events.css">
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>-->

<div class="eventsContainer">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h3 class="paddingEvents">School Notifications</h3>


            <table id="table"
                   class="tbody display table table-hover pTableWidth pTable">

                <thead>
                <tr>
                    <td><b>Notification</b></td>
                    <td><b>Date</b></td>
                    <td ng-hide="isLoggedIn()" width="100%"></td>
                    <td ng-show="isLoggedIn()" width="100%"><b>Edit/Delete</b></td>

                </tr>
                </thead>
                <tbody>
                <div>
                    <tr ng-repeat="notification in notify">
                        <td>
                            <a class="class3"
                               href="#/notificationURL/{{notification.id}}">{{notification.name}}</a>
                        </td>
                        <td>
                            {{notification.publishedDate | date:'dd/MM/yyyy'}}

                        </td>
                        <td ng-hide="isLoggedIn()">{{ notification.text | limitTo: 12 }}...</td>
                        <td ng-show="isLoggedIn()">
                            <a class="class3"
                               href="#/notificationURL/{{notification.id}}">Edit /
                                Delete</a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>

    <div class="myMargin borderTop">
        <div class="row" ng-show="isLoggedIn()">
            <div class="col-lg-12">
                <a href="#/editApp" class="txtRight" data-toggle="tooltip"
                   title="Back to Edit App page">
                    <button type="button" class="btn btn-default btn-sm">Edit App</button>
                </a>
                <button type="button" class="btn btn-primary btn-sm txtRight"
                        title="Add new school notification"
                        data-toggle="modal" data-target="#myModal">New Notice
                </button>
            </div>
        </div>
    </div>

</div>
<div class="notificationFooter2">
    <div>
        <a href="#/notification" data-toggle="tooltip"
           title="Back">
            <button type="button" class="btn btn-default" aria-label="Left Align">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
            </button>
        </a>
    </div>
</div>
<!-- <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2"><b>School Notification</b></h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" ng-submit="submit()" ng-controller="NewSchoolNotificationPost">

                    <div class="form-group">
                        <label for="notificationName" class="col-sm-2 control-label">Title</label>

                        <div class="col-sm-10">
                            <input type="text" id="notificationName" ng-model="notificationName" class="form-control"
                                   name="notificationName"
                                   placeholder="Notification Title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="notificationLink" class="col-sm-2 control-label">Link</label>

                        <div class="col-sm-10">
                            <input type="text" id="notificationLink" ng-model="notificationLink" class="form-control"
                                   name="notificationLink"
                                   placeholder="URL to more information" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="notificationText" class="col-sm-2 control-label">Text</label>

                        <div class="col-sm-10">
                                <textarea id="notificationText" class="form-control" rows="3" name="notificationText"
                                          ng-model="notificationText"
                                          placeholder="Notification Details" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="notificationPublishedDate" class="col-sm-2 control-label">Date</label>

                        <div class="col-sm-10 hero-unit">
                            <input type="date" id="notificationPublishedDate" name="notificationPublishedDate"
                                   ng-model="notificationPublishedDate"
                                   placeholder="dd/MM/yyyy" required/>
                        </div>
                    </div>

                    <button type="button" class="btn btn-default btn-sm myBtn" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary btn-sm myBtn" value="Save">

                </form>

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!--<style type="text/css">-->
    <!--/* unvisited link */-->
    <!--a.class3:link {-->
        <!--color: #000;-->
    <!--}-->

    <!--/* visited link */-->
    <!--a.class3:visited {-->
        <!--color: #000;-->
    <!--}-->

    <!--/* mouse over link */-->
    <!--a.class3:hover {-->
        <!--color: #353c48;-->
    <!--}-->

    <!--/* selected link */-->
    <!--a.class3:active {-->
        <!--color: #000;-->
    <!--}-->

    <!--table td, table tr, table th {-->
        <!--background: transparent !important;-->
    <!--}-->

    <!--table.tbody {-->
        <!--background: transparent !important;-->
    <!--}-->

    <!--table, table tr, table th, table td {-->
        <!--background: transparent !important;-->
    <!--}-->

    <!--@media screen and (max-width: 1680px) {-->

        <!--.footerEvents {-->
            <!--width: 80%;-->
            <!--position: absolute;-->
            <!--bottom: 18%;-->
            <!--/*border: dashed;*/-->
        <!--}-->

    <!--}-->

    <!--@media screen and (max-width: 1440px) {-->
        <!--.footerEvents {-->
            <!--bottom: 18%;-->
            <!--margin-left: -.75%;-->
            <!--/*border: dashed;*/-->
        <!--}-->
    <!--}-->

    <!--@media screen and (max-width: 1367px) {-->
        <!--.footerEvents {-->
            <!--bottom: 18%;-->
            <!--/*border: dashed;*/-->
        <!--}-->
    <!--}-->

    <!--@media screen and (max-width: 1281px) {-->
        <!--.footerEvents {-->
            <!--bottom: 18%;-->
            <!--/*border: dashed;*/-->
        <!--}-->

    <!--}-->

    <!--@media screen and (max-width: 1200px) {-->
        <!--.footerEvents {-->
            <!--bottom: 15%;-->
            <!--/*border: dashed;*/-->
        <!--}-->

    <!--}-->


    <!--@media screen and (max-width: 1000px) {-->
        <!--.footerEvents {-->
            <!--bottom: 14%;-->
            <!--/*border: dashed;*/-->
        <!--}-->
    <!--}-->

    <!--@media screen and (max-width: 967px) {-->
        <!--.footerEvents {-->
            <!--bottom: 12%;-->
            <!--/*border: dashed;*/-->
        <!--}-->
    <!--}-->

    <!--@media screen and (max-width: 960px) and (max-height: 600px) {-->

        <!--.footerEvents {-->
            <!--width: 80%;-->
            <!--position: absolute;-->
            <!--bottom: 16%;-->
            <!--/*border: dashed;*/-->
        <!--}-->

    <!--}-->

    <!--@media screen and (max-width: 800px) and (max-height: 1281px) {-->

        <!--.footerEvents {-->
            <!--width: 80%;-->
            <!--position: absolute;-->
            <!--bottom: 20%;-->
            <!--/*border: dashed;*/-->
        <!--}-->

    <!--}-->

    <!--@media screen and (max-width: 768px) and (max-height: 1024px) {-->

        <!--.footerEvents {-->
            <!--bottom: 14%;-->
            <!--/*border: dashed;*/-->

        <!--}-->

    <!--}-->

    <!--@media screen and (max-width: 732px) and (max-height: 412px) {-->

        <!--.footerEvents {-->
            <!--bottom: 14%;-->
            <!--/*border: dashed;*/-->

        <!--}-->

    <!--}-->



    <!--@media screen and (max-width: 480px) and (max-height: 320px) {-->

        <!--.footerEvents {-->
            <!--width: 80%;-->
            <!--position: absolute;-->
            <!--bottom: 13%;-->
            <!--/*border: dashed;*/-->
            <!--/*border: dashed;*/-->
        <!--}-->

    <!--}-->

    <!--@media screen and (max-width: 412px) and (max-height: 732px) {-->

        <!--.footerEvents {-->
            <!--width: 80%;-->
            <!--position: absolute;-->
            <!--bottom: 11%;-->
            <!--/*border: dashed;*/-->
            <!--/*border: dashed;*/-->
        <!--}-->

    <!--}-->

    <!--@media screen and (max-width: 384px) {-->

        <!--.footerEvents {-->
            <!--width: 80%;-->
            <!--position: absolute;-->
            <!--bottom: 10%;-->
            <!--/*border: dashed;*/-->
            <!--/*border: dashed;*/-->
        <!--}-->

    <!--}-->

    <!--@media screen and (max-width: 360px) and (max-height: 640px) {-->

        <!--.eventsContainer {-->
            <!--width: 88%;-->
            <!--margin-left: auto;-->
            <!--margin-right: auto;-->
            <!--margin-bottom: 20px;-->
            <!--height: 600px;-->
            <!--overflow: hidden;-->
            <!--/*border: dashed;*/-->
        <!--}-->

        <!--.footerEvents {-->
            <!--bottom: 20.5%;-->
            <!--margin-left: 10%;-->
        <!--}-->

        <!--.txtRight {-->
            <!--margin-right: 3%;-->
            <!--float: right;-->
        <!--}-->
    <!--}-->

    <!--@media screen and (max-width: 320px) {-->

        <!--.footerEvents {-->
            <!--width: 80%;-->
            <!--position: absolute;-->
            <!--bottom: 10%;-->
            <!--/*border: dashed;*/-->
            <!--/*border: dashed;*/-->
        <!--}-->

    <!--}-->
<!--</style>-->