html, body {
    overflow-x: hidden
}

table td, table tr, table th {
    background: transparent !important;
}

table.tbody {
    background: transparent !important;
}

table, table tr, table th, table td {
    background: transparent !important;
}

.jumbotron {
    float: left;
    text-align: left;
    margin-top: 1%;
    margin-left: 0%;
    margin-bottom: 0px;
    background-color: transparent;
    width: 99%;
    height: 60px;
    overflow: hidden;
    /*border: dashed;*/
}

.container .jumbotron {
    padding-left: 0px;
    padding-top: 0px;
}

.eventsContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.myMargin {
    margin-top: -10%;
    margin-bottom: 10%;
}

.paddingEvents {
    /*padding-left: 0px;*/
    text-align: left;
    margin-top: 10%;
    margin-bottom: 30px;
}

.pTable {
    font-size: 1em;
}

.pTableWidth {
    text-align: left;
}

.txtRight {
    margin-left: 1%;
    float: right;
}

@media screen and (max-width: 1921px) {

}

@media screen and (max-width: 1681px) {
    .eventsContainer {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /*border: dashed;*/
    }

}

@media screen and (max-width: 1440px) and (max-height: 901px) {

    .eventsContainer {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-size: 1.25em;
        overflow: hidden;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 10%;
        margin-bottom: 30px;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .footerEvents {
        width: 80%;
        position: absolute;
        bottom: 25%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 1367px) {

    .eventsContainer {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 1281px) and (max-height: 951px) {

    .eventsContainer {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-size: 1.25em;
        overflow: hidden;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 10%;
        margin-bottom: 30px;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .footerEvents {
        width: 80%;
        position: absolute;
        bottom: 25%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 1200px) {
    .eventsContainer {
        width: 57%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {

    .eventsContainer {
        width: 55%;
        margin-bottom: 20px;
        min-height: 630px;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .txtRight {
        margin-right: 3%;
    }
}

@media screen and (max-width: 1000px) {
    .borderTop {
        margin-top: 3%;
        /*border: dashed;*/
    }

    .eventsContainer {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 993px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 987px) {

}

@media screen and (max-width: 960px) and (max-height: 600px) {

    .eventsContainer {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 580px;
        font-size: 1em;
        overflow: hidden;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 13%;
        margin-bottom: 30px;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .footerEvents {
        width: 80%;
        position: absolute;
        bottom: 20%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 950px) {

    .eventsContainer {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

    }
}

@media screen and (max-width: 852px) {

}

@media screen and (max-width: 800px) and (max-height: 1281px) {

    .eventsContainer {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-size: 1.5em;
        overflow: hidden;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 10%;
        margin-bottom: 30px;
    }

    table.tbody {
        margin-top: 10%;
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .footerEvents {
        width: 80%;
        position: absolute;
        bottom: 25%;
        margin-left: 10%;
    }

}

@media screen and (max-width: 768px) {
    .eventsContainer {
        width: 86%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /*border: dashed;*/
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 10.5%;
        margin-bottom: 30px;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 736px) and (max-height: 414px) {

    .eventsContainer {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 600px;
        font-size: 1em;
        overflow: hidden;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 13%;
        margin-bottom: 30px;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .footerEvents {
        width: 80%;
        position: absolute;
        bottom: 20%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 732px) and (max-height: 412px) {

    .eventsContainer {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 600px;
        font-size: 1em;
        overflow: hidden;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 13%;
        margin-bottom: 30px;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .footerEvents {
        width: 80%;
        position: absolute;
        bottom: 20%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 667px) and (max-height: 375px) {

    .eventsContainer {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 600px;
        font-size: 1em;
        overflow: hidden;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 13%;
        margin-bottom: 30px;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .footerEvents {
        width: 80%;
        position: absolute;
        bottom: 20%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 640px) and (max-height: 360px) {

    .paddingEvents {
        text-align: center;
        margin-top: 70px;
        /*margin-bottom: 30px;*/
    }

    .footerEvents {
        bottom: 17%;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .txtRight {
        margin-right: 3%;
    }

    .eventsContainer {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 600px;
        /*overflow: hidden;*/
        /*border: dashed;*/
    }

}

@media screen and (max-width: 640px) and (max-height: 384px) and (min-height: 361px) {

    .eventsContainer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 600px;
        overflow: hidden;
        font-size: 1em;
    }

    .footerEvents {
        bottom: 20.5%;
        margin-left: 10%;
    }

    .txtRight {
        margin-right: 3%;
        float: right;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 10%;
        width: 100%;
        margin-bottom: 20px;
        font-size: 22px;
        /*border: dashed;*/
    }

}

@media screen and (max-width: 604px) {

    .eventsContainer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /*border: dashed;*/
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 22%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) and (max-height: 1025px) {
    .footerEvents {
        bottom: 20%;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .txtRight {
        margin-right: 3%;
    }

    .eventsContainer {
        width: 80%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 600px;
        font-size: 1.25em;
        /*border: dashed;*/
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 0%;
        margin-bottom: 30px;

    }
}

@media screen and (max-width: 534px) and (max-height: 320px) {
    .eventsContainer {
        width: 95%;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-size: 1em;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 15%;
        font-size: 23px;
        margin-bottom: 30px;
        /*border: dashed;*/
    }

    table {
        overflow-x: auto;
        display: block;
    }
}

@media screen and (max-width: 414px) and (max-height: 736px) {

    .eventsContainer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 500px;
        font-size: 1em;
        overflow: hidden;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: -1%;
        margin-bottom: 30px;
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .footerEvents {
        width: 80%;
        position: absolute;
        bottom: 20%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 384px) and (max-height: 641px) {
    .eventsContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 600px;
        overflow: hidden;
        font-size: 1em;
    }

    .footerEvents {
        bottom: 20.5%;
        margin-left: 10%;
    }

    .txtRight {
        margin-right: 3%;
        float: right;
    }

}

@media screen and (max-width: 375px) and (max-height: 667px) {

    .eventsContainer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 600px;
        font-size: 1em;
        overflow: hidden;
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        text-align: center;
        margin-top: 0%;
        width: 100%;
        margin-bottom: 20px;
        font-size: 22px;
        /*border: dashed;*/
    }

    table.tbody {
        background: transparent !important;
        width: 100%;
        text-align: center;
    }

    .footerEvents {
        width: 80%;
        position: absolute;
        bottom: 20%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 360px) and (max-height: 641px) {

    .eventsContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        min-height: 600px;
        overflow: hidden;
        font-size: 1em;
    }

    .footerEvents {
        bottom: 20.5%;
        margin-left: 10%;
    }

    .txtRight {
        margin-right: 3%;
        float: right;
    }
}

@media screen and (max-width: 320px)and (max-height: 480px) {
    .eventsContainer {
        width: 95%;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        text-align: center;
        /*border: dashed;*/
    }

    .paddingEvents {
        /*padding-left: 0px;*/
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 18%;
        width: 100%;
        margin-bottom: 20px;
        font-size: 22px;
    }

    .footerEvents {
        bottom: 20.5%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 300px) {

}

@media screen and (max-width: 270px) {

}

@media screen and (max-width: 240px) {
    .eventsContainer {
        width: 95%;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-size: 1em;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 176px) {
    .eventsContainer {
        width: 95%;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        font-size: .75em;
    }
}