body {
    overflow-x: hidden;
    overflow-y: auto;
}

.floating-boxPreviousEvents {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*margin: 25px;*/
    /*border: dashed;*/
    /*border: 3px solid #73AD21;*/
}

.floating-boxPreviousEvents2 {
    display: inline-block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*margin: 25px;*/
    /*border: dashed;*/
    /*border: 3px solid #73AD21;*/
}

#ground {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 200px;
    background: transparent url(/resources/static/images/groundDay.png) repeat-x bottom center;
    z-index: 1;
}

#groundNight {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 200px;
    background: transparent url(/resources/static/images/groundNight.png) repeat-x bottom center;
    z-index: 1;
}

.eventsBelowPic {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*margin-top: -2.5%;*/
    /*border: dashed;*/
}

.mySuccess {
    width: 55%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -4%;
}

.myBtn {
    width: 55px;
}

.jumbotron {
    float: left;
    text-align: left;
    margin-top: 1%;
    margin-left: 0%;
    margin-bottom: 0px;
    background-color: transparent;
    width: 99%;
    height: 60px;
    border: dashed;
}

.container .jumbotron {
    padding-left: 0px;
    padding-top: 0px;
}

.myMargin {
    margin-top: 5%;
    margin-bottom: 5%;

}

.myMargin2Event {
    margin-top: 2%;
    /*margin-bottom: 10%;*/
}

/*.paddingEvents {*/
/*/!*padding-left: 0px;*!/*/
/*text-align: left;*/
/*margin-top: 10%;*/
/*margin-bottom: 30px;*/
/*}*/

.txtRight {
    margin-left: 1%;
    float: right;
}


.txtLeft {
    margin-left: 1%;
    float: left;
}

#sliderEvents {
    width: 240px;
    height: 190px;
    overflow: hidden;
    z-index: -1;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #97aded;
    border-bottom: #97aded;
    -webkit-box-shadow: 0px 1px 1px #97aded;
    -moz-box-shadow: 0px 1px 1px #97aded;
    box-shadow: 0px 1px 1px #97aded;
    z-index: 11;
    /*border: dashed;*/
}

#sliderEvents .slidesEvents {
    display: block;
    width: 2000px;
    height: 170px;
    margin: 0;
    padding: 0;
    z-index: 11;
}

#sliderEvents .slideEvents {
    float: left;
    list-style-type: none;
    width: 240px;
    height: auto;
    z-index: 11;
}

a.class3:link {
    color: #000;
}

/*  visited link  */
a.class3:visited {
    color: #000;
}

/*  mouse over link  */
a.class3:hover {
    color: #0000a0;
}

/*  selected link  */
a.class3:active {
    color: #000;
    text-decoration: underline;
}

.myH2 {
    font-size: 2em;
}

.myH3 {
    font-size: 2rem;
}

.p3 {
    margin-top: 2%;
    text-align: justify;
    font-size: 1.75rem;
    line-height: 35px;
}

.footerEvents{
    width: 80%;
    position: absolute;
    bottom: 20%;
    z-index: 20;
    /*border: dashed;*/
    /*border: dashed;*/
}

@media screen and (max-width: 1680px) {

    .footerEvents{
        width: 80%;
        position: absolute;
        bottom: 18%;
        /*border: dashed;*/
    }

}

@media screen and (max-width: 1440px) {
    .footerEvents{
        bottom: 18%;
        margin-left: -.75%;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 1367px) {
    .footerEvents{
        bottom: 18%;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 1281px) {
    .footerEvents{
        bottom: 18%;
        /*border: dashed;*/
    }

    .myMargin {
        margin-bottom: 5%;
        height: 50px;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 1200px) {
    .footerEvents{
        bottom: 15%;
        /*border: dashed;*/
    }

}

@media screen and (max-width: 1024px) {
    .footerEvents{
        bottom: 18%;
        /*border: dashed;*/
    }

    .myMargin {
        margin-bottom: 5%;
        height: 100px;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 1000px) {
    .footerEvents{
        bottom: 14%;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 967px) {
    .footerEvents{
        bottom: 12%;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 960px) and (max-height: 600px){

    .footerEvents{
        width: 80%;
        position: absolute;
        bottom: 16%;
        /*border: dashed;*/
    }

    .myMargin {
        margin-top: 5%;
        height: 75px;
        margin-bottom: 5%;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 800px) and (max-height: 1281px){

    .footerEvents{
        width: 80%;
        position: absolute;
        bottom: 20%;
        /*border: dashed;*/
    }

    .myMargin {
        margin-top: 5%;
        height: 75px;
        margin-bottom: 5%;
        /*border: dashed;*/
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {

    .footerEvents{
        bottom: 14%;
        /*border: dashed;*/

    }

    .myMargin {
        height: 80px;
    }

}

@media screen and (max-width: 732px) and (max-height: 412px) {

    .footerEvents{
        bottom: 14%;
        /*border: dashed;*/

    }

    .myMargin {
        height: 80px;
    }

}

@media screen and (max-width: 640px) and (max-height: 360px) {

    .footerEvents{
        bottom: 14%;
        /*border: dashed;*/

    }

    .myMargin {
        height: 100px;
    }

}


@media screen and (max-width: 640px) and (max-height: 384px) and (min-height: 361px) {

    .footerEvents{
        bottom: 14%;
        /*border: dashed;*/

    }

    .myMargin {
        height: 100px;
    }

}

@media screen and (max-width: 600px) and (max-height: 1024px){

    .footerEvents{
        width: 80%;
        position: absolute;
        bottom: 13%;
        /*border: dashed;*/
        /*border: dashed;*/
    }

    .myMargin {
        margin-bottom: 5%;
        height: 100px;
        /*border: dashed;*/
    }

}

@media screen and (max-width: 480px) and (max-height: 320px){

    .footerEvents{
        width: 80%;
        position: absolute;
        bottom: 13%;
        /*border: dashed;*/
        /*border: dashed;*/
    }

}

@media screen and (max-width: 412px) and (max-height: 732px){

    .footerEvents{
        width: 80%;
        position: absolute;
        bottom: 11%;
        /*border: dashed;*/
        /*border: dashed;*/
    }

    .myMargin {
        margin-top: 5%;
        height: 75px;
        margin-bottom: 5%;
        /*border: dashed;*/
    }

}

@media screen and (max-width: 384px) {

    .footerEvents{
        width: 80%;
        position: absolute;
        bottom: 10%;
        /*border: dashed;*/
        /*border: dashed;*/
    }

    .myMargin {
        margin-bottom: 5%;
        height: 100px;
        /*border: dashed;*/
    }
}


@media screen and (max-width: 360px) and (max-height: 640px) {

    .footerEvents{
        width: 80%;
        position: absolute;
        bottom: 12%;
        margin-top: 40%;
        /*margin-bottom: 10%;*/
        /*border: dashed;*/
    }

    .myMargin {
        margin-top: 5%;
        margin-bottom: 5%;
        height: 150px;
        /*border: dashed;*/
    }

}


@media screen and (max-width: 320px) {

    .footerEvents{
        width: 80%;
        position: absolute;
        bottom: 10%;
        /*border: dashed;*/
        /*border: dashed;*/
    }

    .myMargin {
        margin-top: 5%;
        margin-bottom: 5%;
        height: 100px;
        /*border: dashed;*/
    }

}


@media screen and (max-width: 300px) {

}

@media screen and (max-width: 270px) {

}

@media screen and (max-width: 240px) {

    .eventsMainContainer {
        width: 100%;
        /*height: 400px;*/
        margin-left: auto;
        margin-right: auto;
        margin-top: -10%;
        height: auto;

    }

    .myH2 {
        margin-top: 0%;
        font-size: 1em;
    }

    .myH3 {
        font-size: .75em;
        margin-top: -10%;
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .p3 {
        margin-top: 2%;
        margin-left: -5%;
        width: 110%;
        text-align: justify;
        font-size: 1.25rem;
        line-height: 25px;
    }

    #sliderEvents {
        width: 0px;
        height: 0px;
        overflow: hidden;
        z-index: -1;
        margin-top: 0%;
        margin-bottom: 3%;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px #97aded;
        border-bottom: #97aded;
        -webkit-box-shadow: 0px 1px 1px #97aded;
        -moz-box-shadow: 0px 1px 1px #97aded;
        box-shadow: 0px 1px 1px #97aded;
        z-index: 11;
        /*border: dashed;*/
    }

}

@media screen and (max-width: 220px) {

    .eventsMainContainer {
        width: 100%;
        /*height: 400px;*/
        margin-left: auto;
        margin-right: auto;
        margin-top: -15%;
        height: auto;
        /*border: dashed;*/
        /*background-image: url('/resources/images/clouds.png');*/
    }

    .myH2 {
        margin-top: 0%;
        font-size: 1em;
    }

    .myH3 {
        font-size: .75em;
        margin-top: -15%;
        width: 55%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .p3 {
        margin-top: 2%;
        margin-left: -5%;
        width: 110%;
        text-align: justify;
        font-size: 1.25rem;
        line-height: 25px;
    }

    #sliderEvents {
        width: 0px;
        height: 0px;
        overflow: hidden;
        z-index: -1;
        margin-top: 0%;
        margin-bottom: 3%;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px #97aded;
        border-bottom: #97aded;
        -webkit-box-shadow: 0px 1px 1px #97aded;
        -moz-box-shadow: 0px 1px 1px #97aded;
        box-shadow: 0px 1px 1px #97aded;
        z-index: 11;
        /*border: dashed;*/
    }

}

@media screen and (max-width: 176px) {

    .eventsMainContainer {
        width: 100%;
        /*height: 400px;*/
        margin-left: auto;
        margin-right: auto;
        margin-top: -15%;
        height: auto;
        /*border: dashed;*/
        /*background-image: url('/resources/images/clouds.png');*/
    }

    .eventsMainContainer2 {
        width: 100%;
        margin-left: 0;
        /*margin-right: auto;*/
        /*border: dashed;*/
    }

    .p3 {
        margin-top: 2%;
        margin-left: -5%;
        width: 110%;
        text-align: justify;
        font-size: 1.25rem;
        line-height: 25px;
    }

    .myH2 {
        font-size: 1em;
    }

    .myH3 {
        font-size: .75em;
        margin-top: -15%;
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}